<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="main-container">
        <form class="left-container" id="left-form">
            <div class="welcome-container">
                <h1>Welcome,</h1>
                <p>Please register to continue</p>
            </div>
            <div class="input-container">
                <label class="label-form" for="">first name</label>
                <input class="input-form" type="text" placeholder="Your first name">
            </div>
            <div class="input-container">
                <label class="label-form" for="">last name</label>
                <input class="input-form" type="text" placeholder="Your last name">
            </div>
            <div class="input-container">
                <label class="label-form" for="">birth date</label>
                <input class="input-form" type="date" placeholder="MM/DD/YYYY">
            </div>
            <div class="input-container">
                <label class="label-form" for="">country</label>
                <input class="input-form" type="text" placeholder="Your Country">
            </div>
            <div class="input-container">
                <label class="label-form" for="">city</label>
                <input class="input-form" type="text" placeholder="Your City">
            </div>
            <div class="input-container">
                <label class="label-form" for="">e-mail</label>
                <input class="input-form" type="email" placeholder="Add a valid e-mail here">
            </div>
            <div class="input-container">
                <label class="label-form" for="">password</label>
                <input class="input-form" type="password" placeholder="Your password">
            </div>
            <div class="input-container">
                <label class="label-form" for="">password</label>
                <input class="input-form" type="password" placeholder="Repeat your password">
            </div>
            <div class="input-container">
                <button class="button-submit" type="submit">Register Now</button>
                <a class="anchor-reference" href="./login.html">
                    <p>Already have an account? <strong class="anchor-reference-child">Log in here.</strong></p>
                </a>
            </div>
        </form>

        <div class="right-container">
            <img 
            id="logo-compass"
            src="../img/logo-cadastro.png" 
            alt="logo-compass"
            >
            <img
            id="mac-compass"
            src="../img/cadastro.png"
            alt="mac-compass"
            />
        </div>
    </div>
</body>
</html>