<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/login.css">
        <script src="../js/login.js" defer></script>
    <title>Login</title>
</head>
<body>
    <div class="main-container">
        <form class="left-container" id="left-form">
            <div class="welcome-container">
                <h1>Welcome,</h1>
                <p>To continue browsing safely, log in to the<br>network.</p>
            </div>
            <div class="input-container">
                <h1 class="login-welcome-message">Login</h1>
            </div>
            <div class="input-container">
                <input class="input-form" type="email" placeholder="e-mail" name="user">
                <img id="user-icon" class="icon-actions" src="../img/icon-user.png" alt="login user icon">
            </div>
            <div class="input-container">
                <input class="input-form" type="password" placeholder="password" name="password">
                <img id="password-icon" class="icon-actions" src="../img/icon-password.png" alt="password icon">
            </div>
            <div class="buttons-container">
                <div class="input-container">
                    <button class="button-sub-container" type="submit">Log in</button>
                </div>
                <div class="input-container">
                    <button class="button-sub-container" type="button" id="button-cadastro">Register Now</button>
                </div>
            </div>
        </form>

        <div class="right-container">
            <img 
            id="logo-compass"
            src="../img/logo-cadastro.png" 
            alt="logo-compass"
            >
            <img
            id="mac-compass"
            src="../img/cadastro.png"
            alt="mac-compass"
            />
        </div>
    </div>
</body>
</html>